<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Adhoc Query</title>
    <link rel="stylesheet" href="/static/tables.css?">
</head>
<body>
<section>
    <h1>
        Food Online System
    </h1>
    <!-- Error Message -->
    {% if error %}
    <div style="color: red;">Error : {{ error }}</div>
    {% endif %}

    <!-- Success Message -->
    {% if success %}
    <div style="color: green;">{{ success }}</div>
    {% endif %}

    <!-- Display Query Results -->
    {% if columns and adhoc_query %}
    <table>
        <thead>
        <tr>
            {% for column in columns %}
            <th>{{column}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for query_row in adhoc_query %}
        <tr>
            {% for query_column in query_row %}
            <td>{{query_column if query_column is not none else "N/A"}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</section>
</body>
</html>