<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Adhoc Query</title>
    <link rel="stylesheet" href="static/tables.css?">
</head>
<body>
<section>
    <h1>
        Food Online System
    </h1>
    <!-- Error Message -->
    {% if error %}
    <div class="failed-message">Error : {{ error }}</div>
    {% endif %}

    <!-- Success Message -->
    {% if success %}
    <div class="success-message">{{ success }}</div>
    {% endif %}

    <!-- Display Query Results -->
    {% if columns and adhoc_query %}
    <div class="table-container">
        <table class="table-center">
            <thead>
            <tr>
                {% for column in columns %}
                <th>{{column}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for query_row in adhoc_query %}
            <tr>
                {% for query_column in query_row %}
                <td>{{query_column if query_column is not none else "N/A"}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</section>
</body>
</html>