<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers Table</title>
    <link rel="stylesheet" href="https://css1.seattleu.edu/~hnguyen37/static/tables.css?">
</head>
<body>
<section>
    <h1>
        Food Online System
    </h1>
    <div class="table-container">
    <table class="table-center">
        <thead>
        <tr>
            {% for column in columns %}
            <th>{{column}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
        <tr>
            {% for data in customer %}
            <td>{{data if data is not none else "N/A"}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</section>
</body>
</html>