<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Query Five Table</title>
    <link rel="stylesheet" href="/static/tables.css?">
</head>
<body>
<section>
    <h1>
        Food Online System
    </h1>
    <div class="table-container">

        <table class="table-center">
            <thead>
            <tr>
                {% for column in columns %}
                <th>{{column}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for query_row in query_five %}
            <tr>
                {% for query_column in query_row %}
                <td>{{query_column if query_column is not none else "N/A"}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
</body>
</html>