<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers Table</title>
    <link rel="stylesheet" href="/static/tables.css">
</head>
<body>
<section>
    <h1>
        Food Online System
    </h1>
    <table class="table-center">
        <thead>
        <tr>
            {% for column in columns %}
            <th>{{column}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for shipper in shippers %}
        <tr>
            {% for data in shipper %}
            <td>{{data if data is not none else "N/A"}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
</body>
</html>